// figma color

$grey-bg: #F2F5F8;
$grey: #9E9E9E;
$grey-1: #FAFAFA;
$grey-2: #F5F5F5;
$grey-3: #EEEEEE;
$grey-4: #E0E0E0;
$grey-5: #BDBDBD;
$grey-6: #757575;
$grey-7: #616161;
$grey-8: #424242;
$grey-9: #212121;

$green: #8BC34A;
$green-1: #F1F8E9;
$green-2: #DCEDC8;
$green-3: #C5E1A5;
$green-4: #AED581;
$green-5: #9CCC65;
$green-6: #7CB342;
$green-7: #689F38;
$green-8: #558B2F;
$green-9: #33691E;
$green-10: #CCFF90;
$green-11: #B2FF59;
$green-12: #76FF03;
$green-13: #64DD17;

$blue: #03A9F4;
$blue-1: #E1F5FE;
$blue-2: #B3E5FC;
$blue-3: #81D4FA;
$blue-4: #4FC3F7;
$blue-5: #29B6F6;
$blue-6: #039BE5;
$blue-7: #2196F3;
$blue-8: #0277BD;
$blue-9: #01579B;
$blue-10: #80D8FF;
$blue-10: #40C4FF;
$blue-10: #00B0FF;
$blue-10: #0091EA;
