// app global css in SCSS form

//  background
$gray-bg: #d2e0ee;
$light-bg: #FFFFFF;

// default color
$light-color: #ffffff;
$dark-color: #212121;
$muted-color: #7C7C7C;
$inactive-color: #BDBDBD;
$border-color: #e3e6e8;
$danger-color: #FF5252;
$warning-color: #db4437;
$primary-color: #2196F3;
$success-color: #4CAF50;
$accent-color: #ffc14d;

// length
$length-base: 40px;
$length-base-sm: ($length-base / 2); // 20px
$length-base-ss: ($length-base / 4); // 10px
$length-base-xs: ($length-base / 8); // 5px
$length-base-sm2: ($length-base-sm + $length-base-ss); // 30px
$length-base-ss2: ($length-base-ss / 2); // 5px
$length-base-lg: ($length-base + $length-base-sm); // 60px

$length-base-form: 32px;
$length-base-sm-form: ($length-base-form / 2); // 16px
$length-base-ss-form: ($length-base-form / 4); // 8px
$length-base-xs-form: ($length-base-form / 8); // 4px

$length-medium: 12px;
$length-double-medium: ($length-medium * 2); // 24px
$length-small: ($length-medium / 2); // 6px
$length-eleven: 11px;
$length-fourteen: 14px;

// layout color
$layout-header: $light-bg;
$layout-menu: $light-bg;
$layout-menu-text: $dark-color
